*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
target
/buildSrc/build

# OAuth credentials - DO NOT COMMIT
app/src/main/assets/oauth.properties